In [134]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)

In [135]:
df = pd.read_csv('MPI-Data-Hub_USInflowLPRsbyCOB_2017.csv')

In [136]:
df

,Region/Sub-Region or Country of Birth,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,All Countries (total),"644,787","841,002","1,058,902","1,059,356","703,542","957,883","1,122,257","1,266,129","1,052,415","1,107,126","1,130,818","1,042,625","1,062,040","1,031,631","990,553","1,016,518","1,051,031","1,183,505","1,127,167"
1,Africa,"36,572","44,529","53,723","60,094","48,633","66,412","85,091","117,416","94,709","105,915","127,046","101,355","100,374","107,241","98,304","98,413","101,415","113,426","118,824"
2,Eastern Africa,"8,839","10,778","13,373","18,426","14,901","21,266","26,530","41,295","31,731","36,558","49,419","34,498","34,001","35,539","30,044","30,241","31,618","35,047","39,311"
3,Burundi,16,28,79,120,74,100,186,320,257,255,"1,505",841,593,535,260,273,351,415,"1,094"
4,Comoros,X,X,X,X,X,X,6,7,7,D,3,4,8,10,D,9,5,4,4
5,Djibouti,6,14,22,30,16,37,50,34,23,39,54,37,56,106,90,190,370,281,222
6,Eritrea,325,382,540,560,556,675,796,"1,593","1,081","1,270","1,928","1,656","2,102","2,643","2,138","2,002","2,220","2,267","2,449"
7,Ethiopia,"4,262","4,053","5,092","7,565","6,635","8,286","10,571","16,152","12,786","12,917","15,462","14,266","13,793","14,544","13,097","12,300","11,394","13,232","14,637"
8,Kenya,"1,407","2,197","2,501","3,199","3,209","5,335","5,347","8,779","7,030","6,998","9,880","7,421","7,762","7,043","6,123","5,884","5,602","6,274","6,957"
9,Madagascar,26,33,61,43,40,54,60,72,53,77,71,80,83,79,95,86,72,88,60
10,Malawi,41,61,70,56,62,83,131,131,123,133,164,164,123,192,159,172,160,205,228
11,Mauritius,38,54,84,83,57,65,99,108,88,83,110,84,101,77,83,81,96,110,96
12,Mozambique,31,41,48,54,36,59,54,78,81,69,66,53,60,94,73,71,107,101,96
13,Rwanda,97,73,148,217,109,163,276,502,357,378,952,489,520,592,540,555,732,"1,357","1,394"
14,Seychelles,10,18,18,20,16,25,16,15,7,16,10,8,15,7,6,7,11,16,10
15,Somalia,"1,690","2,393","3,007","4,535","2,444","3,929","5,829","9,462","6,251","10,745","13,390","4,558","4,451","5,204","3,764","5,190","6,796","6,958","7,404"
16,Tanzania,313,480,476,577,554,747,829,949,832,838,"2,773","1,850","1,427","1,516",837,774,799,788,"1,415"
17,Uganda,250,418,457,575,455,721,858,"1,372","1,122","1,174","1,364","1,085","1,239","1,340","1,350","1,409","1,664","1,649","1,898"
18,Zambia,143,211,295,308,280,359,499,672,576,613,704,628,652,643,505,441,460,487,537
19,Zimbabwe,184,322,475,484,358,628,923,"1,049","1,057",953,983,"1,274","1,016",914,924,797,779,815,810
20,Middle Africa,"1,190","1,317","1,431","2,044","1,663","2,353","3,109","5,757","5,924","6,492","7,744","7,422","9,228","9,694","8,377","9,451","10,955","13,046","14,781"
21,Angola,57,87,94,92,59,107,188,272,199,221,173,148,148,187,143,148,154,198,209
22,Cameroon,824,860,791,984,927,"1,309","1,458","2,919","3,392","3,771","3,463","4,161","4,754","3,815","3,908","3,943","4,374","4,899","4,668"
23,Central African Republic,3,4,11,13,6,17,24,51,52,88,107,101,134,116,213,155,234,202,178
24,Chad,24,23,44,47,8,23,31,73,74,96,102,120,171,155,111,119,175,136,205
25,Democratic Republic of Congo,87,123,145,178,110,155,260,738,"1,129","1,261","2,122","1,764","2,424","3,731","2,792","4,347","5,345","6,791","8,709"
26,Equatorial Guinea,D,5,3,8,D,13,10,13,4,16,32,12,13,20,18,15,25,18,20
27,Gabon,4,18,32,41,40,50,66,85,95,82,171,138,204,197,127,167,146,165,150
28,Republic of Congo,190,189,311,677,513,670,"1,064","1,600",972,950,"1,563",968,"1,371","1,461","1,059",552,496,625,632
29,Sao Tome and Principe,1,8,D,4,D,9,8,6,7,7,11,10,9,12,6,5,6,12,10
30,Northern Africa,"9,832","10,988","13,303","12,888","9,620","14,308","19,380","23,034","18,349","18,467","20,065","18,466","16,966","17,238","17,696","20,220","22,529","23,254","21,192"
31,Algeria,789,906,875,"1,030",759,805,"1,115","1,300","1,036","1,037","1,485","1,305","1,364","1,369","1,241","1,669","1,775","2,180","2,139"
32,Egypt,"4,421","4,450","5,159","4,852","3,348","5,522","7,905","10,500","9,267","8,712","8,844","8,978","7,778","8,988","10,294","11,477","12,085","12,045","9,834"
33,Libya,156,180,223,158,140,185,223,271,186,285,296,355,357,315,376,524,734,642,780
34,Morocco,"2,970","3,614","4,958","3,387","3,137","4,128","4,411","4,949","4,513","4,425","5,447","5,013","4,399","3,656","3,336","3,605","3,710","4,586","4,229"
35,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,X,X,X,-,17,59,74,127,124,160
36,Sudan,"1,346","1,531","1,650","2,921","1,883","3,211","5,231","5,504","2,930","3,598","3,577","2,397","2,628","2,471","1,945","2,442","3,580","3,159","3,515"
37,Tunisia,150,307,438,540,353,457,495,510,417,410,416,418,440,422,445,429,518,518,535
38,Southern Africa,"1,608","2,888","4,192","3,962","2,305","3,473","4,681","3,339","3,121","2,844","3,335","2,929","2,812","2,961","2,774","2,814","3,096","3,227","3,197"
39,Botswana,5,13,24,30,27,34,54,53,49,41,55,66,76,80,53,58,61,78,112
40,Lesotho,5,9,6,13,5,14,12,18,14,16,14,23,25,17,20,13,23,19,24
41,Namibia,13,30,54,46,40,40,63,56,57,46,53,60,43,59,57,44,86,87,130
42,South Africa,"1,577","2,824","4,090","3,861","2,210","3,370","4,536","3,201","2,988","2,723","3,171","2,758","2,649","2,781","2,629","2,676","2,907","3,023","2,912"
43,Swaziland,8,12,18,12,23,15,16,11,13,18,42,22,19,24,15,23,19,20,19
44,Western Africa,"15,103","18,558","21,424","22,774","20,144","25,012","31,391","43,991","35,584","41,549","46,479","38,040","37,367","41,806","39,410","35,684","33,214","38,851","40,343"
45,Benin,59,62,75,137,76,185,193,275,258,317,401,486,462,415,342,517,466,577,648
46,Burkina Faso,17,48,68,64,60,103,128,221,238,238,416,377,433,558,585,583,575,642,541
47,Cabo Verde,902,"1,079",868,871,745,"1,015","1,225","1,780","2,048","1,916","2,238","1,668","1,808","1,684","1,673","1,154","1,253","2,242","2,618"
48,Cote d'Ivoire,303,439,596,629,483,666,930,"2,067","1,193","1,645","2,159","1,621","1,302","1,760","1,486","1,477","1,497","1,617","1,810"
49,Gambia,183,231,390,343,263,422,581,897,826,739,978,859,972,"1,159","1,018","1,111","1,142","1,247","1,134"
50,Ghana,"3,707","4,339","4,023","4,248","4,410","5,337","6,491","9,367","7,610","8,195","8,401","7,429","8,798","10,592","10,265","7,115","6,186","6,949","8,455"
51,Guinea,5,3,11,16,29,347,495,"1,110","1,088","1,735","1,725","1,379","1,555","1,656","1,518","1,375","1,389","1,501","1,348"
52,Guinea-Bissau,134,204,273,289,176,5,26,25,25,17,20,30,29,47,43,30,39,37,48
53,Liberia,"1,351","1,570","2,273","2,869","1,766","2,757","4,880","6,887","4,102","7,193","7,641","4,837","4,151","4,109","3,334","3,874","3,795","3,619","4,155"
54,Mali,72,109,119,105,124,163,277,408,412,523,576,528,629,734,667,604,587,598,544
55,Mauritania,24,88,117,124,131,170,275,720,651,844,597,495,393,410,354,320,298,317,287
56,Niger,12,30,"1,330","1,263",808,62,126,116,97,107,183,96,96,48,37,71,55,119,116
57,Nigeria,"6,742","7,831","8,253","8,105","7,872","9,374","10,597","13,459","12,448","12,475","15,253","13,376","11,824","13,575","13,840","12,828","11,542","14,380","13,539"
58,Senegal,368,554,663,530,522,769,913,"1,367","1,024","1,149","1,524","1,285","1,424","1,615","1,340","1,273","1,244","1,533","1,470"
59,Sierra Leone,970,"1,585","1,878","2,246","1,492","1,596","2,731","3,572","1,999","2,795","2,687","2,011","1,985","1,688","1,651","1,740","1,599","1,535","2,058"
60,Togo,254,386,487,935,"1,187","2,041","1,523","1,720","1,565","1,661","1,680","1,563","1,506","1,756","1,257","1,612","1,547","1,938","1,572"
61,Other Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,-,-,3,3,3,3,1,-
62,Americas,"312,160","394,779","474,112","477,092","304,990","414,523","448,689","552,056","445,806","491,745","478,040","423,731","419,998","407,172","396,605","398,069","438,435","506,901","492,726"
63,Caribbean,"71,350","86,055","102,830","96,026","68,549","89,042","108,470","146,606","118,950","136,948","145,959","139,877","133,608","127,391","122,313","133,843","146,640","182,049","174,514"
64,Anguilla,20,25,55,20,26,22,35,32,25,22,21,19,25,23,22,20,22,20,23
65,Antigua and Barbuda,454,429,461,380,301,414,440,570,415,444,437,359,368,337,344,369,290,324,322
66,Aruba,14,25,29,32,27,31,42,51,55,36,38,49,39,54,45,40,38,23,47
67,Bahamas,398,766,924,808,423,586,698,847,738,682,751,652,668,619,630,654,725,656,725
68,Barbados,715,777,895,813,516,630,846,959,689,585,603,465,455,460,428,384,376,371,373
69,British Virgin Islands,76,67,70,43,43,35,41,47,40,53,46,46,37,39,45,56,38,40,25
70,Cayman Islands,18,31,23,24,35,38,37,65,40,37,45,52,41,44,44,48,53,55,67
71,Cuba,"14,019","18,960","27,453","28,182","9,262","20,488","36,261","45,614","29,104","49,500","38,954","33,573","36,452","32,820","32,219","46,679","54,396","66,516","65,028"
72,Curacao,X,X,X,X,X,X,X,X,X,X,X,X,-,-,-,27,22,35,34
73,Dominica,40,95,93,148,204,132,198,471,428,454,484,366,287,125,244,345,229,298,510
74,Dominican Republic,"17,811","17,465","21,195","22,515","26,159","30,506","27,503","38,068","28,024","31,879","49,414","53,870","46,109","41,566","41,311","44,577","50,610","61,161","58,520"
75,Grenada,661,655,645,634,481,609,840,"1,068",751,784,748,664,579,671,687,633,525,585,544
76,Guadeloupe,54,51,84,38,35,59,48,53,D,D,D,D,D,D,D,D,D,D,D
77,Haiti,"16,514","22,337","27,031","20,213","12,293","14,191","14,524","22,226","30,405","26,007","24,280","22,582","22,111","22,818","20,351","15,274","16,967","23,584","21,824"
78,Jamaica,"14,693","15,949","15,322","14,835","13,347","14,430","18,345","24,976","19,375","18,477","21,783","19,825","19,662","20,705","19,400","19,026","17,642","23,350","21,905"
79,Martinique,23,20,22,19,14,26,37,30,D,D,D,D,D,D,D,D,D,D,D
80,Montserrat,80,70,61,42,36,33,50,90,66,61,43,27,30,27,-,38,14,14,12
81,Netherlands Antilles,35,53,114,97,59,72,116,100,93,78,97,77,86,106,128,45,22,18,9
82,Saint Kitts and Nevis,463,500,463,342,310,299,342,458,347,363,310,339,350,311,259,263,222,250,238
83,Saint Lucia,529,599,674,583,488,616,832,"1,212",928,946,"1,027",872,785,919,853,844,739,777,777
84,Saint Vincent and the Grenadines,442,497,559,480,322,400,625,756,567,568,591,576,468,503,529,448,415,422,361
85,Sint Maarten,X,X,X,X,X,X,X,X,X,X,X,X,-,-,-,45,45,42,35
86,Trinidad and Tobago,"4,259","6,635","6,618","5,738","4,138","5,384","6,568","8,854","6,829","5,937","6,256","5,435","5,023","5,214","4,724","3,988","3,212","3,469","3,100"
87,Turks and Caicos Islands,27,46,33,31,26,28,34,52,31,35,31,29,33,30,50,40,38,39,35
88,U.S. Virgin Islands,5,3,6,9,4,13,8,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,Central America,"190,492","236,738","280,886","287,391","169,939","237,698","214,908","248,765","204,566","240,829","212,788","183,071","187,153","187,081","179,752","178,455","206,330","231,877","227,166"
90,Belize,572,757,936,966,588,871,876,"1,252","1,073","1,077","1,041",965,905,847,946,789,772,851,746
91,Costa Rica,883,"1,310","1,733","1,591","1,246","1,755","2,278","3,109","2,540","2,090","2,384","2,164","2,135","2,020","2,114","1,966","2,029","2,224","2,184"
92,El Salvador,"14,581","22,543","31,089","31,060","28,231","29,807","21,359","31,782","21,127","19,659","19,909","18,806","18,667","16,256","18,260","19,273","19,487","23,449","25,109"
93,Guatemala,"7,294","9,942","13,496","16,178","14,386","18,920","16,818","24,133","17,908","16,182","12,187","10,467","11,092","10,341","10,224","10,238","11,773","13,002","13,198"
94,Honduras,"4,793","5,917","6,571","6,435","4,645","5,508","7,012","8,177","7,646","6,540","6,404","6,448","6,133","6,884","8,898","8,156","9,274","13,302","11,387"
95,Mexico,"147,402","173,493","205,560","218,822","115,585","175,411","161,445","173,749","148,640","189,989","164,920","139,120","143,446","146,406","135,028","134,052","158,619","174,534","170,581"
96,Nicaragua,"13,327","20,947","19,634","10,659","4,094","4,009","3,305","4,145","3,716","3,614","4,137","3,565","3,401","3,046","3,048","2,886","3,324","3,486","3,072"
97,Panama,"1,640","1,829","1,867","1,680","1,164","1,417","1,815","2,418","1,916","1,678","1,806","1,536","1,374","1,281","1,234","1,095","1,052","1,029",889
98,Northern America,"8,874","16,163","21,913","19,524","11,474","15,726","22,177","18,700","15,774","15,417","16,429","13,601","13,140","13,296","13,588","12,050","13,155","13,360","11,961"
99,Bermuda,63,71,98,108,92,100,116,160,108,92,108,72,71,85,88,106,112,99,68
100,Canada,"8,782","16,057","21,752","19,352","11,350","15,569","21,878","18,207","15,495","15,109","16,140","13,328","12,800","12,932","13,181","11,586","12,673","12,793","11,484"
101,United States,29,35,63,64,32,57,183,333,171,216,181,201,269,279,319,358,370,468,409
102,South America,"41,444","55,823","68,483","74,151","55,028","72,057","103,134","137,985","106,516","98,548","102,858","87,177","86,095","79,401","80,945","73,715","72,308","79,608","79,076"
103,Argentina,"1,387","2,317","3,297","3,661","3,129","4,805","7,081","7,327","5,645","5,353","5,780","4,399","4,473","4,359","4,372","3,874","3,730","4,091","3,482"
104,Bolivia,"1,444","1,761","1,819","1,664","1,376","1,768","2,197","4,025","2,590","2,436","2,837","2,253","2,173","1,948","2,071","1,719","1,626","1,595","1,510"
105,Brazil,"3,887","6,943","9,448","9,439","6,331","10,556","16,662","17,903","14,295","12,195","14,701","12,258","11,763","11,441","11,033","10,429","11,424","13,812","14,989"
106,Chile,"1,085","1,700","1,921","1,839","1,310","1,810","2,404","2,774","2,274","2,017","2,250","1,950","1,853","1,673","1,736","1,581","1,596","1,698","1,625"
107,Colombia,"9,928","14,427","16,627","18,758","14,720","18,846","25,566","43,144","33,187","30,213","27,849","22,406","22,635","20,931","21,131","18,175","17,316","18,610","17,956"
108,Ecuador,"8,882","7,651","9,665","10,561","7,066","8,626","11,608","17,489","12,248","11,663","12,128","11,492","11,103","9,342","10,591","10,960","10,187","10,757","10,594"
109,French Guiana,5,13,8,6,4,D,8,15,D,D,D,D,D,D,D,D,D,D,D
110,Guyana,"3,290","5,719","8,279","9,938","6,809","6,351","9,317","9,552","5,726","6,823","6,670","6,749","6,599","5,683","5,897","6,267","5,543","5,771","5,468"
111,Paraguay,216,338,401,356,207,328,516,719,545,481,530,467,500,467,448,391,382,434,391
112,Peru,"8,414","9,579","11,062","11,918","9,409","11,794","15,676","21,718","17,699","15,184","16,957","14,247","14,064","12,609","12,564","10,606","10,148","10,940","10,115"
113,Suriname,141,256,245,247,180,166,300,314,197,218,227,216,196,187,178,158,134,156,136
114,Uruguay,267,426,541,536,469,787,"1,154","1,664","1,418","1,451","1,775","1,331","1,553","1,374","1,352","1,128","1,078",972,"1,001"
115,Venezuela,"2,498","4,693","5,170","5,228","4,018","6,220","10,645","11,341","10,692","10,514","11,154","9,409","9,183","9,387","9,572","8,427","9,144","10,772","11,809"
116,Other Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,6,5,2,3,7,6,2,7,9
117,Asia,"203,518","270,956","357,160","349,723","250,448","342,930","411,722","440,333","397,834","399,027","413,312","422,063","451,593","429,599","400,548","430,508","419,297","462,299","424,743"
118,Eastern Asia,"61,101","83,097","107,239","106,323","69,809","96,334","118,620","131,986","119,033","127,068","109,532","109,290","125,401","116,986","109,383","109,930","104,862","117,316","103,469"
119,China (excluding Hong Kong),"32,159","45,585","56,267","61,082","40,568","55,494","69,933","87,307","76,655","80,271","64,238","70,863","87,016","81,784","71,798","76,089","74,558","81,772","71,565"
120,Hong Kong,"4,910","5,407","8,300","6,075","3,574","3,951","3,705","3,256","3,527","3,373","2,651","2,432","2,306","2,104","2,226","2,278","2,085","2,510","2,415"
121,Japan,"4,202","7,049","9,578","8,248","5,971","7,697","8,768","8,265","6,748","6,821","7,690","6,264","6,161","6,061","5,925","5,545","5,395","5,207","4,635"
122,Macau,294,270,340,284,244,192,133,189,178,205,158,143,130,120,106,105,99,109,109
123,Mongolia,41,46,102,135,153,229,323,497,530,659,831,594,774,691,729,651,644,750,661
124,North Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,67,35,36,49,48,142,55,47,32
125,Taiwan,"6,700","9,019","12,120","9,775","6,917","9,005","9,196","8,086","8,990","9,073","8,038","6,732","6,154","5,331","5,385","4,697","4,888","5,120","4,858"
126,South Korea,"12,795","15,721","20,532","20,724","12,382","19,766","26,562","24,386","22,405","26,666","25,859","22,227","22,824","20,846","23,166","20,423","17,138","21,801","19,194"
127,South-central Asia,"61,391","78,608","112,872","112,787","79,874","111,826","140,938","124,157","115,751","126,701","132,509","140,785","147,570","141,129","139,754","162,634","144,996","154,870","149,096"
128,Afghanistan,877,"1,011","1,202","1,759","1,252","2,137","4,749","3,417","1,753","2,813","3,165","2,017","1,648","1,617","2,196","10,527","8,328","12,513","19,538"
129,Bangladesh,"6,038","7,204","7,152","5,483","4,616","8,061","11,487","14,644","12,074","11,753","16,651","14,819","16,707","14,705","12,099","14,645","13,570","18,723","14,693"
130,Bhutan,4,D,5,14,15,17,30,78,52,42,594,"6,109","10,137","10,198","8,954","7,298","6,325","4,217","2,940"
131,India,"30,157","41,903","70,032","70,823","50,228","70,151","84,680","61,369","65,353","63,352","57,304","69,162","69,013","66,434","68,458","77,908","64,116","64,687","60,394"
132,Iran,"7,176","8,487","10,425","12,960","7,230","10,434","13,887","13,947","10,460","13,852","18,553","14,182","14,822","12,916","12,863","11,615","13,114","13,298","13,791"
133,Kazakhstan,723,"1,493","2,310","2,315","1,740","1,906","2,223","2,073","1,604","1,630","1,562","1,282","1,235","1,202","1,241","1,221","1,201","1,310","1,377"
134,Kyrgyzstan,189,388,582,473,356,439,656,785,597,632,574,507,542,648,652,707,790,847,715
135,Maldives,-,D,9,9,15,7,6,D,9,D,6,5,3,3,5,13,8,11,5
136,Nepal,453,616,945,"1,137","2,095","2,878","3,158","3,733","3,472","4,093","4,514","7,115","10,166","11,312","13,046","12,357","12,926","12,851","11,610"
137,Pakistan,"13,485","14,504","16,393","13,694","9,415","12,086","14,926","17,418","13,492","19,719","21,555","18,258","15,546","14,740","13,251","18,612","18,057","19,313","17,408"
138,Sri Lanka,899,"1,118","1,505","1,529","1,246","1,431","1,894","2,191","1,831","1,935","2,009","2,036","2,053","1,994","1,847","1,767","1,763","1,913","1,627"
139,Tajikistan,104,156,187,181,137,167,207,239,172,231,265,299,382,411,550,516,595,593,652
140,Turkmenistan,65,97,94,93,84,117,148,248,217,274,290,224,260,223,210,254,226,235,251
141,Uzbekistan,"1,221","1,631","2,031","2,317","1,445","1,995","2,887","4,015","4,665","6,375","5,467","4,770","5,056","4,726","4,382","5,194","3,977","4,359","4,095"
142,South-eastern Asia,"59,632","81,348","103,907","99,751","78,422","105,161","114,203","138,444","126,871","107,969","125,338","120,840","127,193","121,834","111,306","106,527","116,040","125,225","118,192"
143,Brunei,16,16,27,28,20,22,49,25,32,18,26,20,25,19,21,25,21,31,24
144,Burma,"1,200","1,201","1,373","1,356","1,193","1,379","2,095","4,562","3,130","3,403","13,621","12,925","16,518","17,383","12,565","11,144","12,808","13,065","12,897"
145,Cambodia,"1,394","2,138","2,462","2,800","2,263","3,553","4,022","5,773","4,246","3,713","3,771","2,986","2,745","2,473","2,624","2,536","1,868","3,173","4,056"
146,Indonesia,"1,186","1,767","2,525","2,418","1,805","2,419","3,924","4,868","3,716","3,606","3,679","3,032","2,856","2,603","2,731","2,139","2,084","2,129","1,914"
147,Laos,846,"1,358","1,398","1,245",896,"1,147","1,242","2,892","2,575","2,198","1,688","1,200",956,949,923,806,917,856,685
148,Malaysia,991,"1,551","2,439","2,124","1,200","1,987","2,632","2,281","2,149","1,945","2,014","1,714","2,273","2,605","2,477","2,622","2,749","3,382","4,109"
149,Philippines,"30,943","42,343","52,919","51,040","45,250","57,846","60,746","74,606","72,596","54,030","60,029","58,173","57,011","57,327","54,446","49,996","56,478","53,287","49,147"
150,Singapore,355,668,"1,100","1,033",582,966,"1,204",997,985,922,832,774,690,712,835,779,781,812,818
151,Thailand,"2,366","3,753","4,245","4,144","3,126","4,318","5,505","11,749","8,751","6,637","10,444","9,384","9,962","9,459","7,583","6,197","7,502","7,039","6,311"

In [137]:
df.dtypes

Region/Sub-Region or Country of Birth    object
1999                                     object
2000                                     object
2001                                     object
2002                                     object
2003                                     object
2004                                     object
2005                                     object
2006                                     object
2007                                     object
2008                                     object
2009                                     object
2010                                     object
2011                                     object
2012                                     object
2013                                     object
2014                                     object
2015                                     object
2016                                     object
2017                                     object
dtype: object

In [138]:
df = df.T

In [139]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243
Region/Sub-Region or Country of Birth,All Countries (total),Africa,Eastern Africa,Burundi,Comoros,Djibouti,Eritrea,Ethiopia,Kenya,Madagascar,Malawi,Mauritius,Mozambique,Rwanda,Seychelles,Somalia,Tanzania,Uganda,Zambia,Zimbabwe,Middle Africa,Angola,Cameroon,Central African Republic,Chad,Democratic Republic of Congo,Equatorial Guinea,Gabon,Republic of Congo,Sao Tome and Principe,Northern Africa,Algeria,Egypt,Libya,Morocco,South Sudan,Sudan,Tunisia,Southern Africa,Botswana,Lesotho,Namibia,South Africa,Swaziland,Western Africa,Benin,Burkina Faso,Cabo Verde,Cote d'Ivoire,Gambia,Ghana,Guinea,Guinea-Bissau,Liberia,Mali,Mauritania,Niger,Nigeria,Senegal,Sierra Leone,Togo,Other Africa,Americas,Caribbean,Anguilla,Antigua and Barbuda,Aruba,Bahamas,Barbados,British Virgin Islands,Cayman Islands,Cuba,Curacao,Dominica,Dominican Republic,Grenada,Guadeloupe,Haiti,Jamaica,Martinique,Montserrat,Netherlands Antilles,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Sint Maarten,Trinidad and Tobago,Turks and Caicos Islands,U.S. Virgin Islands,Central America,Belize,Costa Rica,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Northern America,Bermuda,Canada,United States,South America,Argentina,Bolivia,Brazil,Chile,Colombia,Ecuador,French Guiana,Guyana,Paraguay,Peru,Suriname,Uruguay,Venezuela,Other Americas,Asia,Eastern Asia,China (excluding Hong Kong),Hong Kong,Japan,Macau,Mongolia,North Korea,Taiwan,South Korea,South-central Asia,Afghanistan,Bangladesh,Bhutan,India,Iran,Kazakhstan,Kyrgyzstan,Maldives,Nepal,Pakistan,Sri Lanka,Tajikistan,Turkmenistan,Uzbekistan,South-eastern Asia,Brunei,Burma,Cambodia,Indonesia,Laos,Malaysia,Philippines,Singapore,Thailand,Vietnam,Western Asia,Armenia,Azerbaijan,Bahrain,Cyprus,Georgia,Iraq,Israel,Jordan,Kuwait,Lebanon,Oman,Qatar,Saudi Arabia,Syria,Turkey,United Arab Emirates,Yemen,Other Asia,Europe,Eastern Europe,Belarus,Bulgaria,Czechia,Czechoslovakia (former),Hungary,Poland,Republic of Moldova,Romania,Russian Federation,Slovak Republic,Ukraine,USSR (former),Northern Europe,Denmark,Estonia,Finland,Iceland,Ireland,Latvia,Lithuania,Norway,Sweden,United Kingdom,Southern Europe,Albania,Bosnia and Herzegovina,Croatia,Greece,Italy,Kosovo,Macedonia,Malta,Montenegro,Portugal,Serbia,Serbia and Montenegro (former),Slovenia,Spain,Western Europe,Austria,Belgium,France,Germany,Luxembourg,Monaco,Netherlands,Switzerland,Other Europe,Oceania,Australia and New Zealand,Australia,New Zealand,Melanesia,Fiji,New Caledonia,Papua New Guinea,Solomon Islands,Micronesia,Kiribati,"Micronesia, Federated States",Palau,Polynesia,American Samoa,French Polynesia,Marshall Islands,Samoa,Tonga,Other Oceania,All other countries,Unknown
1999,"644,787","36,572","8,839",16,X,6,325,"4,262","1,407",26,41,38,31,97,10,"1,690",313,250,143,184,"1,190",57,824,3,24,87,D,4,190,1,"9,832",789,"4,421",156,"2,970",NaN,"1,346",150,"1,608",5,5,13,"1,577",8,"15,103",59,17,902,303,183,"3,707",5,134,"1,351",72,24,12,"6,742",368,970,254,NaN,"312,160","71,350",20,454,14,398,715,76,18,"14,019",X,40,"17,811",661,54,"16,514","14,693",23,80,35,463,529,442,X,"4,259",27,5,"190,492",572,883,"14,581","7,294","4,793","147,402","13,327","1,640","8,874",63,"8,782",29,"41,444","1,387","1,444","3,887","1,085","9,928","8,882",5,"3,290",216,"8,414",141,267,"2,498",NaN,"203,518","61,101","32,159","4,910","4,202",294,41,NaN,"6,700","12,795","61,391",877,"6,038",4,"30,157","7,176",723,189,-,453,"13,485",899,104,65,"1,221","59,632",16,"1,200","1,394","1,186",846,991,"30,943",355,"2,366","20,335","21,394","1,250",738,70,106,310,"3,360","1,847","3,269",801,"3,033",40,78,759,"2,048","2,215",310,"1,160",NaN,"87,709","49,789","1,320","4,171",145,318,694,"8,773",753,"5,678","12,321",492,"10,102","5,022","12,065",367,142,307,79,804,444,"1,147",307,821,"7,647","16,401","3,695","5,412",580,719,"1,512",-,569,43,NaN,"1,058",NaN,"1,886",58,869,"9,454",230,426,"2,196","5,166",11,5,773,647,NaN,"3,636","1,625","1,103",522,"1,616","1,599",3,14,D,-,-,D,D,395,11,9,3,91,281,NaN,33,"1,156"
2000,"841,002","44,529","10,778",28,X,14,382,"4,053","2,197",33,61,54,41,73,18,"2,393",480,418,211,322,"1,317",87,860,4,23,123,5,18,189,8,"10,988",906,"4,450",180,"3,614",NaN,"1,531",307,"2,888",13,9,30,"2,824",12,"18,558",62,48,"1,079",439,231,"4,339",3,204,"1,570",109,88,30,"7,831",554,"1,585",386,NaN,"394,779","86,055",25,429,25,766,777,67,31,"18,960",X,95,"17,465",655,51,"22,337","15,949",20,70,53,500,599,497,X,"6,635",46,3,"236,738",757,"1,310","22,543","9,942","5,917","173,493","20,947","1,829","16,163",71,"16,057",35,"55,823","2,317","1,761","6,943","1,700","14,427","7,651",13,"5,719",338,"9,579",256,426,"4,693",NaN,"270,956","83,097","45,585","5,407","7,049",270,46,NaN,"9,019","15,721","78,608","1,011","7,204",D,"41,903","8,487","1,493",388,D,616,"14,504","1,118",156,97,"1,631","81,348",16,"1,201","2,138","1,767","1,358","1,551","42,343",668,"3,753","26,553","27,903","1,253","1,036",106,160,493,"5,087","2,783","3,900","1,015","3,662",51,97,"1,063","2,367","2,606",435,"1,789",NaN,"124,438","63,486","2,170","4,917",244,665,"1,023","10,090","1,251","6,863","16,940",549,"15,511","3,263","19,471",537,239,377,129,"1,296",548,"1,349",459,"1,264","13,273","26,995","4,755","11,525","1,058",950,"2,448",-,790,54,NaN,"1,343",NaN,"2,742",76,"1,254","14,486",405,670,"3,442","7,565",26,12,"1,337","1,029",NaN,"5,089","3,008","2,044",964,"1,514","1,483",3,21,7,11,3,5,3,556,7,13,3,184,349,NaN,46,"1,172"
2001,"1,058,902","53,723","13,373",79,X,22,540,"5,092","2,501",61,70,84,48,148,18,"3,007",476,457,295,475,"1,431",94,791,11,44,145,3,32,311,D,"13,303",875,"5,159",223,"4,958",NaN,"1,650",438,"4,192",24,6,54,"4,090",18,"21,424",75,68,868,596,390,"4,023",11,273,"2,273",119,117,"1,330","8,253",663,"1,878",487,NaN,"474,112","102,830",55,461,29,924,895,70,23,"27,453",X,93,"21,195",645,84,"27,031","15,322",22,61,114,463,674,559,X,"6,618",33,6,"280,886",936,"1,733","31,089","13,496","6,571","205,560","19,634","1,867","21,913",98,"21,752",63,"68,483","3,297","1,819","9,448","1,921","16,627","9,665",8,"8,279",401,"11,062",245,541,"5,170",NaN,"357,160","107,239","56,267","8,300","9,578",340,102,NaN,"12,120","20,532","112,872","1,202","7,152",5,"70,032","10,425","2,310",582,9,945,"16,393","1,505",187,94,"2,031","103,907",27,"1,373","2,462","2,525","1,398","2,439","52,919","1,100","4,245","35,419","33,142","1,762","1,152",118,216,786,"4,965","3,744","4,572","1,258","4,579",55,125,"1,178","3,350","3,215",460,"1,607",NaN,"165,496","74,942","2,901","4,400",307,863,"1,263","11,769","2,068","6,628","20,313",809,"20,914","2,707","26,140",706,348,497,134,"1,505",711,"1,732",547,"1,682","18,278","45,699","4,358","23,594","2,853","1,155","3,096",-,921,57,NaN,"1,609",NaN,"6,203",142,"1,711","18,715",522,814,"4,569","9,790",34,9,"1,679","1,298",NaN,"6,052","4,016","2,811","1,205","1,491","1,452",6,26,7,9,-,9,D,536,28,16,D,165,327,NaN,49,"2,311"
2002,"1,059,356","60,094","18,426",120,X,30,560,"7,565","3,199",43,56,83,54,217,20,"4,535",577,575,308,484,"2,044",92,984,13,47,178,8,41,677,4,"12,888","1,030","4,852",158,"3,387",NaN,"2,921",540,"3,962",30,13,46,"3,861",12,"22,774",137,64,871,629,343,"4,248",16,289,"2,869",105,124,"1,263","8,105",530,"2,246",935,NaN,"477,092","96,026",20,380,32,808,813,43,24,"28,182",X,148,"22,515",634,38,"20,213","14,835",19,42,97,342,583,480,X,"5,738",31,9,"287,391",966,"1,591","31,060","16,178","6,435","218,822","10,659","1,680","19,524",108,"19,352",64,"74,151","3,661","1,664","9,439","1,839","18,758","10,561",6,"9,938",356,"11,918",247,536,"5,228",NaN,"349,723","106,323","61,082","6,075","8,248",284,135,NaN,"9,775","20,724","112,787","1,759","5,483",14,"70,823","12,960","2,315",473,9,"1,137","13,694","1,529",181,93,"2,317","99,751",28,"1,356","2,800","2,418","1,245","2,124","51,040","1,033","4,144","33,563","30,862","1,800","1,164",85,158,886,"5,174","3,826","3,964","1,056","3,935",61,108,"1,014","2,557","3,375",472,"1,227",NaN,"164,285","73,759","2,923","3,608",267,897,"1,274","12,711","2,103","4,887","20,771",725,"21,190","2,403","23,442",609,343,426,93,"1,398",683,"1,786",431,"1,376","16,297","50,545","3,765","25,329","3,798","1,009","2,578",-,821,44,NaN,"1,313",NaN,"10,387",140,"1,361","16,539",483,769,"3,797","8,888",32,17,"1,549","1,004",NaN,"5,482","3,674","2,557","1,117","1,246","1,208",5,26,7,10,D,D,10,552,26,12,26,157,331,NaN,61,"2,622"

In [140]:
df.columns = df.iloc[0]

In [141]:
df = df.iloc[1:]

In [142]:
df.head()

Region/Sub-Region or Country of Birth,All Countries (total),Africa,Eastern Africa,Burundi,Comoros,Djibouti,Eritrea,Ethiopia,Kenya,Madagascar,Malawi,Mauritius,Mozambique,Rwanda,Seychelles,Somalia,Tanzania,Uganda,Zambia,Zimbabwe,Middle Africa,Angola,Cameroon,Central African Republic,Chad,Democratic Republic of Congo,Equatorial Guinea,Gabon,Republic of Congo,Sao Tome and Principe,Northern Africa,Algeria,Egypt,Libya,Morocco,South Sudan,Sudan,Tunisia,Southern Africa,Botswana,Lesotho,Namibia,South Africa,Swaziland,Western Africa,Benin,Burkina Faso,Cabo Verde,Cote d'Ivoire,Gambia,Ghana,Guinea,Guinea-Bissau,Liberia,Mali,Mauritania,Niger,Nigeria,Senegal,Sierra Leone,Togo,Other Africa,Americas,Caribbean,Anguilla,Antigua and Barbuda,Aruba,Bahamas,Barbados,British Virgin Islands,Cayman Islands,Cuba,Curacao,Dominica,Dominican Republic,Grenada,Guadeloupe,Haiti,Jamaica,Martinique,Montserrat,Netherlands Antilles,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Sint Maarten,Trinidad and Tobago,Turks and Caicos Islands,U.S. Virgin Islands,Central America,Belize,Costa Rica,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Northern America,Bermuda,Canada,United States,South America,Argentina,Bolivia,Brazil,Chile,Colombia,Ecuador,French Guiana,Guyana,Paraguay,Peru,Suriname,Uruguay,Venezuela,Other Americas,Asia,Eastern Asia,China (excluding Hong Kong),Hong Kong,Japan,Macau,Mongolia,North Korea,Taiwan,South Korea,South-central Asia,Afghanistan,Bangladesh,Bhutan,India,Iran,Kazakhstan,Kyrgyzstan,Maldives,Nepal,Pakistan,Sri Lanka,Tajikistan,Turkmenistan,Uzbekistan,South-eastern Asia,Brunei,Burma,Cambodia,Indonesia,Laos,Malaysia,Philippines,Singapore,Thailand,Vietnam,Western Asia,Armenia,Azerbaijan,Bahrain,Cyprus,Georgia,Iraq,Israel,Jordan,Kuwait,Lebanon,Oman,Qatar,Saudi Arabia,Syria,Turkey,United Arab Emirates,Yemen,Other Asia,Europe,Eastern Europe,Belarus,Bulgaria,Czechia,Czechoslovakia (former),Hungary,Poland,Republic of Moldova,Romania,Russian Federation,Slovak Republic,Ukraine,USSR (former),Northern Europe,Denmark,Estonia,Finland,Iceland,Ireland,Latvia,Lithuania,Norway,Sweden,United Kingdom,Southern Europe,Albania,Bosnia and Herzegovina,Croatia,Greece,Italy,Kosovo,Macedonia,Malta,Montenegro,Portugal,Serbia,Serbia and Montenegro (former),Slovenia,Spain,Western Europe,Austria,Belgium,France,Germany,Luxembourg,Monaco,Netherlands,Switzerland,Other Europe,Oceania,Australia and New Zealand,Australia,New Zealand,Melanesia,Fiji,New Caledonia,Papua New Guinea,Solomon Islands,Micronesia,Kiribati,"Micronesia, Federated States",Palau,Polynesia,American Samoa,French Polynesia,Marshall Islands,Samoa,Tonga,Other Oceania,All other countries,Unknown
1999,"644,787","36,572","8,839",16,X,6,325,"4,262","1,407",26,41,38,31,97,10,"1,690",313,250,143,184,"1,190",57,824,3,24,87,D,4,190,1,"9,832",789,"4,421",156,"2,970",NaN,"1,346",150,"1,608",5,5,13,"1,577",8,"15,103",59,17,902,303,183,"3,707",5,134,"1,351",72,24,12,"6,742",368,970,254,NaN,"312,160","71,350",20,454,14,398,715,76,18,"14,019",X,40,"17,811",661,54,"16,514","14,693",23,80,35,463,529,442,X,"4,259",27,5,"190,492",572,883,"14,581","7,294","4,793","147,402","13,327","1,640","8,874",63,"8,782",29,"41,444","1,387","1,444","3,887","1,085","9,928","8,882",5,"3,290",216,"8,414",141,267,"2,498",NaN,"203,518","61,101","32,159","4,910","4,202",294,41,NaN,"6,700","12,795","61,391",877,"6,038",4,"30,157","7,176",723,189,-,453,"13,485",899,104,65,"1,221","59,632",16,"1,200","1,394","1,186",846,991,"30,943",355,"2,366","20,335","21,394","1,250",738,70,106,310,"3,360","1,847","3,269",801,"3,033",40,78,759,"2,048","2,215",310,"1,160",NaN,"87,709","49,789","1,320","4,171",145,318,694,"8,773",753,"5,678","12,321",492,"10,102","5,022","12,065",367,142,307,79,804,444,"1,147",307,821,"7,647","16,401","3,695","5,412",580,719,"1,512",-,569,43,NaN,"1,058",NaN,"1,886",58,869,"9,454",230,426,"2,196","5,166",11,5,773,647,NaN,"3,636","1,625","1,103",522,"1,616","1,599",3,14,D,-,-,D,D,395,11,9,3,91,281,NaN,33,"1,156"
2000,"841,002","44,529","10,778",28,X,14,382,"4,053","2,197",33,61,54,41,73,18,"2,393",480,418,211,322,"1,317",87,860,4,23,123,5,18,189,8,"10,988",906,"4,450",180,"3,614",NaN,"1,531",307,"2,888",13,9,30,"2,824",12,"18,558",62,48,"1,079",439,231,"4,339",3,204,"1,570",109,88,30,"7,831",554,"1,585",386,NaN,"394,779","86,055",25,429,25,766,777,67,31,"18,960",X,95,"17,465",655,51,"22,337","15,949",20,70,53,500,599,497,X,"6,635",46,3,"236,738",757,"1,310","22,543","9,942","5,917","173,493","20,947","1,829","16,163",71,"16,057",35,"55,823","2,317","1,761","6,943","1,700","14,427","7,651",13,"5,719",338,"9,579",256,426,"4,693",NaN,"270,956","83,097","45,585","5,407","7,049",270,46,NaN,"9,019","15,721","78,608","1,011","7,204",D,"41,903","8,487","1,493",388,D,616,"14,504","1,118",156,97,"1,631","81,348",16,"1,201","2,138","1,767","1,358","1,551","42,343",668,"3,753","26,553","27,903","1,253","1,036",106,160,493,"5,087","2,783","3,900","1,015","3,662",51,97,"1,063","2,367","2,606",435,"1,789",NaN,"124,438","63,486","2,170","4,917",244,665,"1,023","10,090","1,251","6,863","16,940",549,"15,511","3,263","19,471",537,239,377,129,"1,296",548,"1,349",459,"1,264","13,273","26,995","4,755","11,525","1,058",950,"2,448",-,790,54,NaN,"1,343",NaN,"2,742",76,"1,254","14,486",405,670,"3,442","7,565",26,12,"1,337","1,029",NaN,"5,089","3,008","2,044",964,"1,514","1,483",3,21,7,11,3,5,3,556,7,13,3,184,349,NaN,46,"1,172"
2001,"1,058,902","53,723","13,373",79,X,22,540,"5,092","2,501",61,70,84,48,148,18,"3,007",476,457,295,475,"1,431",94,791,11,44,145,3,32,311,D,"13,303",875,"5,159",223,"4,958",NaN,"1,650",438,"4,192",24,6,54,"4,090",18,"21,424",75,68,868,596,390,"4,023",11,273,"2,273",119,117,"1,330","8,253",663,"1,878",487,NaN,"474,112","102,830",55,461,29,924,895,70,23,"27,453",X,93,"21,195",645,84,"27,031","15,322",22,61,114,463,674,559,X,"6,618",33,6,"280,886",936,"1,733","31,089","13,496","6,571","205,560","19,634","1,867","21,913",98,"21,752",63,"68,483","3,297","1,819","9,448","1,921","16,627","9,665",8,"8,279",401,"11,062",245,541,"5,170",NaN,"357,160","107,239","56,267","8,300","9,578",340,102,NaN,"12,120","20,532","112,872","1,202","7,152",5,"70,032","10,425","2,310",582,9,945,"16,393","1,505",187,94,"2,031","103,907",27,"1,373","2,462","2,525","1,398","2,439","52,919","1,100","4,245","35,419","33,142","1,762","1,152",118,216,786,"4,965","3,744","4,572","1,258","4,579",55,125,"1,178","3,350","3,215",460,"1,607",NaN,"165,496","74,942","2,901","4,400",307,863,"1,263","11,769","2,068","6,628","20,313",809,"20,914","2,707","26,140",706,348,497,134,"1,505",711,"1,732",547,"1,682","18,278","45,699","4,358","23,594","2,853","1,155","3,096",-,921,57,NaN,"1,609",NaN,"6,203",142,"1,711","18,715",522,814,"4,569","9,790",34,9,"1,679","1,298",NaN,"6,052","4,016","2,811","1,205","1,491","1,452",6,26,7,9,-,9,D,536,28,16,D,165,327,NaN,49,"2,311"
2002,"1,059,356","60,094","18,426",120,X,30,560,"7,565","3,199",43,56,83,54,217,20,"4,535",577,575,308,484,"2,044",92,984,13,47,178,8,41,677,4,"12,888","1,030","4,852",158,"3,387",NaN,"2,921",540,"3,962",30,13,46,"3,861",12,"22,774",137,64,871,629,343,"4,248",16,289,"2,869",105,124,"1,263","8,105",530,"2,246",935,NaN,"477,092","96,026",20,380,32,808,813,43,24,"28,182",X,148,"22,515",634,38,"20,213","14,835",19,42,97,342,583,480,X,"5,738",31,9,"287,391",966,"1,591","31,060","16,178","6,435","218,822","10,659","1,680","19,524",108,"19,352",64,"74,151","3,661","1,664","9,439","1,839","18,758","10,561",6,"9,938",356,"11,918",247,536,"5,228",NaN,"349,723","106,323","61,082","6,075","8,248",284,135,NaN,"9,775","20,724","112,787","1,759","5,483",14,"70,823","12,960","2,315",473,9,"1,137","13,694","1,529",181,93,"2,317","99,751",28,"1,356","2,800","2,418","1,245","2,124","51,040","1,033","4,144","33,563","30,862","1,800","1,164",85,158,886,"5,174","3,826","3,964","1,056","3,935",61,108,"1,014","2,557","3,375",472,"1,227",NaN,"164,285","73,759","2,923","3,608",267,897,"1,274","12,711","2,103","4,887","20,771",725,"21,190","2,403","23,442",609,343,426,93,"1,398",683,"1,786",431,"1,376","16,297","50,545","3,765","25,329","3,798","1,009","2,578",-,821,44,NaN,"1,313",NaN,"10,387",140,"1,361","16,539",483,769,"3,797","8,888",32,17,"1,549","1,004",NaN,"5,482","3,674","2,557","1,117","1,246","1,208",5,26,7,10,D,D,10,552,26,12,26,157,331,NaN,61,"2,622"
2003,"703,542","48,633","14,901",74,X,16,556,"6,635","3,209",40,62,57,36,109,16,"2,444",554,455,280,358,"1,663",59,927,6,8,110,D,40,513,D,"9,620",759,"3,348",140,"3,137",NaN,"1,883",353,"2,305",27,5,40,"2,210",23,"20,144",76,60,745,483,263,"4,410",29,176,"1,766",124,131,808,"7,872",522,"1,492","1,187",NaN,"304,990","68,549",26,301,27,423,516,43,35,"9,262",X,204,"26,159",481,35,"12,293","13,347",14,36,59,310,488,322,X,"4,138",26,4,"169,939",588,"1,246","28,231","14,386","4,645","115,585","4,094","1,164","11,474",92,"11,350",32,"55,028","3,129","1,376","6,331","1,310","14,720","7,066",4,"6,809",207,"9,409",180,469,"4,018",NaN,"250,448","69,809","40,568","3,574","5,971",244,153,NaN,"6,917","12,382","79,874","1,252","4,616",15,"50,228","7,230","1,740",356,15,"2,095","9,415","1,246",137,84,"1,445","78,422",20,"1,193","2,263","1,805",896,"1,200","45,250",582,"3,126","22,087","22,343","1,287",746,59,123,735,"2,450","2,741","2,927",707,"2,956",76,72,735,"1,938","3,029",380,"1,382",NaN,"93,895","50,144","1,858","3,825",267,543,"1,021","10,510","1,151","3,655","13,935",674,"11,633","1,072","15,495",405,235,241,97,983,458,"2,266",320,963,"9,527","18,438","3,362","6,155","1,153",651,"1,644",-,653,37,NaN,808,NaN,"2,994",64,917,"9,818",295,455,"2,375","5,064",16,D,981,632,NaN,"4,335","2,713","1,836",877,"1,134","1,095",D,34,5,16,4,4,8,472,16,14,26,178,238,NaN,35,"1,201"

In [143]:
df['Year'] = df.index

In [144]:
df.head()

Region/Sub-Region or Country of Birth,All Countries (total),Africa,Eastern Africa,Burundi,Comoros,Djibouti,Eritrea,Ethiopia,Kenya,Madagascar,Malawi,Mauritius,Mozambique,Rwanda,Seychelles,Somalia,Tanzania,Uganda,Zambia,Zimbabwe,Middle Africa,Angola,Cameroon,Central African Republic,Chad,Democratic Republic of Congo,Equatorial Guinea,Gabon,Republic of Congo,Sao Tome and Principe,Northern Africa,Algeria,Egypt,Libya,Morocco,South Sudan,Sudan,Tunisia,Southern Africa,Botswana,Lesotho,Namibia,South Africa,Swaziland,Western Africa,Benin,Burkina Faso,Cabo Verde,Cote d'Ivoire,Gambia,Ghana,Guinea,Guinea-Bissau,Liberia,Mali,Mauritania,Niger,Nigeria,Senegal,Sierra Leone,Togo,Other Africa,Americas,Caribbean,Anguilla,Antigua and Barbuda,Aruba,Bahamas,Barbados,British Virgin Islands,Cayman Islands,Cuba,Curacao,Dominica,Dominican Republic,Grenada,Guadeloupe,Haiti,Jamaica,Martinique,Montserrat,Netherlands Antilles,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Sint Maarten,Trinidad and Tobago,Turks and Caicos Islands,U.S. Virgin Islands,Central America,Belize,Costa Rica,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Northern America,Bermuda,Canada,United States,South America,Argentina,Bolivia,Brazil,Chile,Colombia,Ecuador,French Guiana,Guyana,Paraguay,Peru,Suriname,Uruguay,Venezuela,Other Americas,Asia,Eastern Asia,China (excluding Hong Kong),Hong Kong,Japan,Macau,Mongolia,North Korea,Taiwan,South Korea,South-central Asia,Afghanistan,Bangladesh,Bhutan,India,Iran,Kazakhstan,Kyrgyzstan,Maldives,Nepal,Pakistan,Sri Lanka,Tajikistan,Turkmenistan,Uzbekistan,South-eastern Asia,Brunei,Burma,Cambodia,Indonesia,Laos,Malaysia,Philippines,Singapore,Thailand,Vietnam,Western Asia,Armenia,Azerbaijan,Bahrain,Cyprus,Georgia,Iraq,Israel,Jordan,Kuwait,Lebanon,Oman,Qatar,Saudi Arabia,Syria,Turkey,United Arab Emirates,Yemen,Other Asia,Europe,Eastern Europe,Belarus,Bulgaria,Czechia,Czechoslovakia (former),Hungary,Poland,Republic of Moldova,Romania,Russian Federation,Slovak Republic,Ukraine,USSR (former),Northern Europe,Denmark,Estonia,Finland,Iceland,Ireland,Latvia,Lithuania,Norway,Sweden,United Kingdom,Southern Europe,Albania,Bosnia and Herzegovina,Croatia,Greece,Italy,Kosovo,Macedonia,Malta,Montenegro,Portugal,Serbia,Serbia and Montenegro (former),Slovenia,Spain,Western Europe,Austria,Belgium,France,Germany,Luxembourg,Monaco,Netherlands,Switzerland,Other Europe,Oceania,Australia and New Zealand,Australia,New Zealand,Melanesia,Fiji,New Caledonia,Papua New Guinea,Solomon Islands,Micronesia,Kiribati,"Micronesia, Federated States",Palau,Polynesia,American Samoa,French Polynesia,Marshall Islands,Samoa,Tonga,Other Oceania,All other countries,Unknown,Year
1999,"644,787","36,572","8,839",16,X,6,325,"4,262","1,407",26,41,38,31,97,10,"1,690",313,250,143,184,"1,190",57,824,3,24,87,D,4,190,1,"9,832",789,"4,421",156,"2,970",NaN,"1,346",150,"1,608",5,5,13,"1,577",8,"15,103",59,17,902,303,183,"3,707",5,134,"1,351",72,24,12,"6,742",368,970,254,NaN,"312,160","71,350",20,454,14,398,715,76,18,"14,019",X,40,"17,811",661,54,"16,514","14,693",23,80,35,463,529,442,X,"4,259",27,5,"190,492",572,883,"14,581","7,294","4,793","147,402","13,327","1,640","8,874",63,"8,782",29,"41,444","1,387","1,444","3,887","1,085","9,928","8,882",5,"3,290",216,"8,414",141,267,"2,498",NaN,"203,518","61,101","32,159","4,910","4,202",294,41,NaN,"6,700","12,795","61,391",877,"6,038",4,"30,157","7,176",723,189,-,453,"13,485",899,104,65,"1,221","59,632",16,"1,200","1,394","1,186",846,991,"30,943",355,"2,366","20,335","21,394","1,250",738,70,106,310,"3,360","1,847","3,269",801,"3,033",40,78,759,"2,048","2,215",310,"1,160",NaN,"87,709","49,789","1,320","4,171",145,318,694,"8,773",753,"5,678","12,321",492,"10,102","5,022","12,065",367,142,307,79,804,444,"1,147",307,821,"7,647","16,401","3,695","5,412",580,719,"1,512",-,569,43,NaN,"1,058",NaN,"1,886",58,869,"9,454",230,426,"2,196","5,166",11,5,773,647,NaN,"3,636","1,625","1,103",522,"1,616","1,599",3,14,D,-,-,D,D,395,11,9,3,91,281,NaN,33,"1,156",1999
2000,"841,002","44,529","10,778",28,X,14,382,"4,053","2,197",33,61,54,41,73,18,"2,393",480,418,211,322,"1,317",87,860,4,23,123,5,18,189,8,"10,988",906,"4,450",180,"3,614",NaN,"1,531",307,"2,888",13,9,30,"2,824",12,"18,558",62,48,"1,079",439,231,"4,339",3,204,"1,570",109,88,30,"7,831",554,"1,585",386,NaN,"394,779","86,055",25,429,25,766,777,67,31,"18,960",X,95,"17,465",655,51,"22,337","15,949",20,70,53,500,599,497,X,"6,635",46,3,"236,738",757,"1,310","22,543","9,942","5,917","173,493","20,947","1,829","16,163",71,"16,057",35,"55,823","2,317","1,761","6,943","1,700","14,427","7,651",13,"5,719",338,"9,579",256,426,"4,693",NaN,"270,956","83,097","45,585","5,407","7,049",270,46,NaN,"9,019","15,721","78,608","1,011","7,204",D,"41,903","8,487","1,493",388,D,616,"14,504","1,118",156,97,"1,631","81,348",16,"1,201","2,138","1,767","1,358","1,551","42,343",668,"3,753","26,553","27,903","1,253","1,036",106,160,493,"5,087","2,783","3,900","1,015","3,662",51,97,"1,063","2,367","2,606",435,"1,789",NaN,"124,438","63,486","2,170","4,917",244,665,"1,023","10,090","1,251","6,863","16,940",549,"15,511","3,263","19,471",537,239,377,129,"1,296",548,"1,349",459,"1,264","13,273","26,995","4,755","11,525","1,058",950,"2,448",-,790,54,NaN,"1,343",NaN,"2,742",76,"1,254","14,486",405,670,"3,442","7,565",26,12,"1,337","1,029",NaN,"5,089","3,008","2,044",964,"1,514","1,483",3,21,7,11,3,5,3,556,7,13,3,184,349,NaN,46,"1,172",2000
2001,"1,058,902","53,723","13,373",79,X,22,540,"5,092","2,501",61,70,84,48,148,18,"3,007",476,457,295,475,"1,431",94,791,11,44,145,3,32,311,D,"13,303",875,"5,159",223,"4,958",NaN,"1,650",438,"4,192",24,6,54,"4,090",18,"21,424",75,68,868,596,390,"4,023",11,273,"2,273",119,117,"1,330","8,253",663,"1,878",487,NaN,"474,112","102,830",55,461,29,924,895,70,23,"27,453",X,93,"21,195",645,84,"27,031","15,322",22,61,114,463,674,559,X,"6,618",33,6,"280,886",936,"1,733","31,089","13,496","6,571","205,560","19,634","1,867","21,913",98,"21,752",63,"68,483","3,297","1,819","9,448","1,921","16,627","9,665",8,"8,279",401,"11,062",245,541,"5,170",NaN,"357,160","107,239","56,267","8,300","9,578",340,102,NaN,"12,120","20,532","112,872","1,202","7,152",5,"70,032","10,425","2,310",582,9,945,"16,393","1,505",187,94,"2,031","103,907",27,"1,373","2,462","2,525","1,398","2,439","52,919","1,100","4,245","35,419","33,142","1,762","1,152",118,216,786,"4,965","3,744","4,572","1,258","4,579",55,125,"1,178","3,350","3,215",460,"1,607",NaN,"165,496","74,942","2,901","4,400",307,863,"1,263","11,769","2,068","6,628","20,313",809,"20,914","2,707","26,140",706,348,497,134,"1,505",711,"1,732",547,"1,682","18,278","45,699","4,358","23,594","2,853","1,155","3,096",-,921,57,NaN,"1,609",NaN,"6,203",142,"1,711","18,715",522,814,"4,569","9,790",34,9,"1,679","1,298",NaN,"6,052","4,016","2,811","1,205","1,491","1,452",6,26,7,9,-,9,D,536,28,16,D,165,327,NaN,49,"2,311",2001
2002,"1,059,356","60,094","18,426",120,X,30,560,"7,565","3,199",43,56,83,54,217,20,"4,535",577,575,308,484,"2,044",92,984,13,47,178,8,41,677,4,"12,888","1,030","4,852",158,"3,387",NaN,"2,921",540,"3,962",30,13,46,"3,861",12,"22,774",137,64,871,629,343,"4,248",16,289,"2,869",105,124,"1,263","8,105",530,"2,246",935,NaN,"477,092","96,026",20,380,32,808,813,43,24,"28,182",X,148,"22,515",634,38,"20,213","14,835",19,42,97,342,583,480,X,"5,738",31,9,"287,391",966,"1,591","31,060","16,178","6,435","218,822","10,659","1,680","19,524",108,"19,352",64,"74,151","3,661","1,664","9,439","1,839","18,758","10,561",6,"9,938",356,"11,918",247,536,"5,228",NaN,"349,723","106,323","61,082","6,075","8,248",284,135,NaN,"9,775","20,724","112,787","1,759","5,483",14,"70,823","12,960","2,315",473,9,"1,137","13,694","1,529",181,93,"2,317","99,751",28,"1,356","2,800","2,418","1,245","2,124","51,040","1,033","4,144","33,563","30,862","1,800","1,164",85,158,886,"5,174","3,826","3,964","1,056","3,935",61,108,"1,014","2,557","3,375",472,"1,227",NaN,"164,285","73,759","2,923","3,608",267,897,"1,274","12,711","2,103","4,887","20,771",725,"21,190","2,403","23,442",609,343,426,93,"1,398",683,"1,786",431,"1,376","16,297","50,545","3,765","25,329","3,798","1,009","2,578",-,821,44,NaN,"1,313",NaN,"10,387",140,"1,361","16,539",483,769,"3,797","8,888",32,17,"1,549","1,004",NaN,"5,482","3,674","2,557","1,117","1,246","1,208",5,26,7,10,D,D,10,552,26,12,26,157,331,NaN,61,"2,622",2002
2003,"703,542","48,633","14,901",74,X,16,556,"6,635","3,209",40,62,57,36,109,16,"2,444",554,455,280,358,"1,663",59,927,6,8,110,D,40,513,D,"9,620",759,"3,348",140,"3,137",NaN,"1,883",353,"2,305",27,5,40,"2,210",23,"20,144",76,60,745,483,263,"4,410",29,176,"1,766",124,131,808,"7,872",522,"1,492","1,187",NaN,"304,990","68,549",26,301,27,423,516,43,35,"9,262",X,204,"26,159",481,35,"12,293","13,347",14,36,59,310,488,322,X,"4,138",26,4,"169,939",588,"1,246","28,231","14,386","4,645","115,585","4,094","1,164","11,474",92,"11,350",32,"55,028","3,129","1,376","6,331","1,310","14,720","7,066",4,"6,809",207,"9,409",180,469,"4,018",NaN,"250,448","69,809","40,568","3,574","5,971",244,153,NaN,"6,917","12,382","79,874","1,252","4,616",15,"50,228","7,230","1,740",356,15,"2,095","9,415","1,246",137,84,"1,445","78,422",20,"1,193","2,263","1,805",896,"1,200","45,250",582,"3,126","22,087","22,343","1,287",746,59,123,735,"2,450","2,741","2,927",707,"2,956",76,72,735,"1,938","3,029",380,"1,382",NaN,"93,895","50,144","1,858","3,825",267,543,"1,021","10,510","1,151","3,655","13,935",674,"11,633","1,072","15,495",405,235,241,97,983,458,"2,266",320,963,"9,527","18,438","3,362","6,155","1,153",651,"1,644",-,653,37,NaN,808,NaN,"2,994",64,917,"9,818",295,455,"2,375","5,064",16,D,981,632,NaN,"4,335","2,713","1,836",877,"1,134","1,095",D,34,5,16,4,4,8,472,16,14,26,178,238,NaN,35,"1,201",2003

In [153]:
# df.replace('X','', inplace=True)

In [154]:
df.head()

Region/Sub-Region or Country of Birth,All Countries (total),Africa,Eastern Africa,Burundi,Comoros,Djibouti,Eritrea,Ethiopia,Kenya,Madagascar,Malawi,Mauritius,Mozambique,Rwanda,Seychelles,Somalia,Tanzania,Uganda,Zambia,Zimbabwe,Middle Africa,Angola,Cameroon,Central African Republic,Chad,Democratic Republic of Congo,Equatorial Guinea,Gabon,Republic of Congo,Sao Tome and Principe,Northern Africa,Algeria,Egypt,Libya,Morocco,South Sudan,Sudan,Tunisia,Southern Africa,Botswana,Lesotho,Namibia,South Africa,Swaziland,Western Africa,Benin,Burkina Faso,Cabo Verde,Cote d'Ivoire,Gambia,Ghana,Guinea,Guinea-Bissau,Liberia,Mali,Mauritania,Niger,Nigeria,Senegal,Sierra Leone,Togo,Other Africa,Americas,Caribbean,Anguilla,Antigua and Barbuda,Aruba,Bahamas,Barbados,British Virgin Islands,Cayman Islands,Cuba,Curacao,Dominica,Dominican Republic,Grenada,Guadeloupe,Haiti,Jamaica,Martinique,Montserrat,Netherlands Antilles,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Sint Maarten,Trinidad and Tobago,Turks and Caicos Islands,U.S. Virgin Islands,Central America,Belize,Costa Rica,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Northern America,Bermuda,Canada,United States,South America,Argentina,Bolivia,Brazil,Chile,Colombia,Ecuador,French Guiana,Guyana,Paraguay,Peru,Suriname,Uruguay,Venezuela,Other Americas,Asia,Eastern Asia,China (excluding Hong Kong),Hong Kong,Japan,Macau,Mongolia,North Korea,Taiwan,South Korea,South-central Asia,Afghanistan,Bangladesh,Bhutan,India,Iran,Kazakhstan,Kyrgyzstan,Maldives,Nepal,Pakistan,Sri Lanka,Tajikistan,Turkmenistan,Uzbekistan,South-eastern Asia,Brunei,Burma,Cambodia,Indonesia,Laos,Malaysia,Philippines,Singapore,Thailand,Vietnam,Western Asia,Armenia,Azerbaijan,Bahrain,Cyprus,Georgia,Iraq,Israel,Jordan,Kuwait,Lebanon,Oman,Qatar,Saudi Arabia,Syria,Turkey,United Arab Emirates,Yemen,Other Asia,Europe,Eastern Europe,Belarus,Bulgaria,Czechia,Czechoslovakia (former),Hungary,Poland,Republic of Moldova,Romania,Russian Federation,Slovak Republic,Ukraine,USSR (former),Northern Europe,Denmark,Estonia,Finland,Iceland,Ireland,Latvia,Lithuania,Norway,Sweden,United Kingdom,Southern Europe,Albania,Bosnia and Herzegovina,Croatia,Greece,Italy,Kosovo,Macedonia,Malta,Montenegro,Portugal,Serbia,Serbia and Montenegro (former),Slovenia,Spain,Western Europe,Austria,Belgium,France,Germany,Luxembourg,Monaco,Netherlands,Switzerland,Other Europe,Oceania,Australia and New Zealand,Australia,New Zealand,Melanesia,Fiji,New Caledonia,Papua New Guinea,Solomon Islands,Micronesia,Kiribati,"Micronesia, Federated States",Palau,Polynesia,American Samoa,French Polynesia,Marshall Islands,Samoa,Tonga,Other Oceania,All other countries,Unknown,Year
1999,"644,787","36,572","8,839",16,X,6,325,"4,262","1,407",26,41,38,31,97,10,"1,690",313,250,143,184,"1,190",57,824,3,24,87,D,4,190,1,"9,832",789,"4,421",156,"2,970",NaN,"1,346",150,"1,608",5,5,13,"1,577",8,"15,103",59,17,902,303,183,"3,707",5,134,"1,351",72,24,12,"6,742",368,970,254,NaN,"312,160","71,350",20,454,14,398,715,76,18,"14,019",X,40,"17,811",661,54,"16,514","14,693",23,80,35,463,529,442,X,"4,259",27,5,"190,492",572,883,"14,581","7,294","4,793","147,402","13,327","1,640","8,874",63,"8,782",29,"41,444","1,387","1,444","3,887","1,085","9,928","8,882",5,"3,290",216,"8,414",141,267,"2,498",NaN,"203,518","61,101","32,159","4,910","4,202",294,41,NaN,"6,700","12,795","61,391",877,"6,038",4,"30,157","7,176",723,189,-,453,"13,485",899,104,65,"1,221","59,632",16,"1,200","1,394","1,186",846,991,"30,943",355,"2,366","20,335","21,394","1,250",738,70,106,310,"3,360","1,847","3,269",801,"3,033",40,78,759,"2,048","2,215",310,"1,160",NaN,"87,709","49,789","1,320","4,171",145,318,694,"8,773",753,"5,678","12,321",492,"10,102","5,022","12,065",367,142,307,79,804,444,"1,147",307,821,"7,647","16,401","3,695","5,412",580,719,"1,512",-,569,43,NaN,"1,058",NaN,"1,886",58,869,"9,454",230,426,"2,196","5,166",11,5,773,647,NaN,"3,636","1,625","1,103",522,"1,616","1,599",3,14,D,-,-,D,D,395,11,9,3,91,281,NaN,33,"1,156",1999
2000,"841,002","44,529","10,778",28,X,14,382,"4,053","2,197",33,61,54,41,73,18,"2,393",480,418,211,322,"1,317",87,860,4,23,123,5,18,189,8,"10,988",906,"4,450",180,"3,614",NaN,"1,531",307,"2,888",13,9,30,"2,824",12,"18,558",62,48,"1,079",439,231,"4,339",3,204,"1,570",109,88,30,"7,831",554,"1,585",386,NaN,"394,779","86,055",25,429,25,766,777,67,31,"18,960",X,95,"17,465",655,51,"22,337","15,949",20,70,53,500,599,497,X,"6,635",46,3,"236,738",757,"1,310","22,543","9,942","5,917","173,493","20,947","1,829","16,163",71,"16,057",35,"55,823","2,317","1,761","6,943","1,700","14,427","7,651",13,"5,719",338,"9,579",256,426,"4,693",NaN,"270,956","83,097","45,585","5,407","7,049",270,46,NaN,"9,019","15,721","78,608","1,011","7,204",D,"41,903","8,487","1,493",388,D,616,"14,504","1,118",156,97,"1,631","81,348",16,"1,201","2,138","1,767","1,358","1,551","42,343",668,"3,753","26,553","27,903","1,253","1,036",106,160,493,"5,087","2,783","3,900","1,015","3,662",51,97,"1,063","2,367","2,606",435,"1,789",NaN,"124,438","63,486","2,170","4,917",244,665,"1,023","10,090","1,251","6,863","16,940",549,"15,511","3,263","19,471",537,239,377,129,"1,296",548,"1,349",459,"1,264","13,273","26,995","4,755","11,525","1,058",950,"2,448",-,790,54,NaN,"1,343",NaN,"2,742",76,"1,254","14,486",405,670,"3,442","7,565",26,12,"1,337","1,029",NaN,"5,089","3,008","2,044",964,"1,514","1,483",3,21,7,11,3,5,3,556,7,13,3,184,349,NaN,46,"1,172",2000
2001,"1,058,902","53,723","13,373",79,X,22,540,"5,092","2,501",61,70,84,48,148,18,"3,007",476,457,295,475,"1,431",94,791,11,44,145,3,32,311,D,"13,303",875,"5,159",223,"4,958",NaN,"1,650",438,"4,192",24,6,54,"4,090",18,"21,424",75,68,868,596,390,"4,023",11,273,"2,273",119,117,"1,330","8,253",663,"1,878",487,NaN,"474,112","102,830",55,461,29,924,895,70,23,"27,453",X,93,"21,195",645,84,"27,031","15,322",22,61,114,463,674,559,X,"6,618",33,6,"280,886",936,"1,733","31,089","13,496","6,571","205,560","19,634","1,867","21,913",98,"21,752",63,"68,483","3,297","1,819","9,448","1,921","16,627","9,665",8,"8,279",401,"11,062",245,541,"5,170",NaN,"357,160","107,239","56,267","8,300","9,578",340,102,NaN,"12,120","20,532","112,872","1,202","7,152",5,"70,032","10,425","2,310",582,9,945,"16,393","1,505",187,94,"2,031","103,907",27,"1,373","2,462","2,525","1,398","2,439","52,919","1,100","4,245","35,419","33,142","1,762","1,152",118,216,786,"4,965","3,744","4,572","1,258","4,579",55,125,"1,178","3,350","3,215",460,"1,607",NaN,"165,496","74,942","2,901","4,400",307,863,"1,263","11,769","2,068","6,628","20,313",809,"20,914","2,707","26,140",706,348,497,134,"1,505",711,"1,732",547,"1,682","18,278","45,699","4,358","23,594","2,853","1,155","3,096",-,921,57,NaN,"1,609",NaN,"6,203",142,"1,711","18,715",522,814,"4,569","9,790",34,9,"1,679","1,298",NaN,"6,052","4,016","2,811","1,205","1,491","1,452",6,26,7,9,-,9,D,536,28,16,D,165,327,NaN,49,"2,311",2001
2002,"1,059,356","60,094","18,426",120,X,30,560,"7,565","3,199",43,56,83,54,217,20,"4,535",577,575,308,484,"2,044",92,984,13,47,178,8,41,677,4,"12,888","1,030","4,852",158,"3,387",NaN,"2,921",540,"3,962",30,13,46,"3,861",12,"22,774",137,64,871,629,343,"4,248",16,289,"2,869",105,124,"1,263","8,105",530,"2,246",935,NaN,"477,092","96,026",20,380,32,808,813,43,24,"28,182",X,148,"22,515",634,38,"20,213","14,835",19,42,97,342,583,480,X,"5,738",31,9,"287,391",966,"1,591","31,060","16,178","6,435","218,822","10,659","1,680","19,524",108,"19,352",64,"74,151","3,661","1,664","9,439","1,839","18,758","10,561",6,"9,938",356,"11,918",247,536,"5,228",NaN,"349,723","106,323","61,082","6,075","8,248",284,135,NaN,"9,775","20,724","112,787","1,759","5,483",14,"70,823","12,960","2,315",473,9,"1,137","13,694","1,529",181,93,"2,317","99,751",28,"1,356","2,800","2,418","1,245","2,124","51,040","1,033","4,144","33,563","30,862","1,800","1,164",85,158,886,"5,174","3,826","3,964","1,056","3,935",61,108,"1,014","2,557","3,375",472,"1,227",NaN,"164,285","73,759","2,923","3,608",267,897,"1,274","12,711","2,103","4,887","20,771",725,"21,190","2,403","23,442",609,343,426,93,"1,398",683,"1,786",431,"1,376","16,297","50,545","3,765","25,329","3,798","1,009","2,578",-,821,44,NaN,"1,313",NaN,"10,387",140,"1,361","16,539",483,769,"3,797","8,888",32,17,"1,549","1,004",NaN,"5,482","3,674","2,557","1,117","1,246","1,208",5,26,7,10,D,D,10,552,26,12,26,157,331,NaN,61,"2,622",2002
2003,"703,542","48,633","14,901",74,X,16,556,"6,635","3,209",40,62,57,36,109,16,"2,444",554,455,280,358,"1,663",59,927,6,8,110,D,40,513,D,"9,620",759,"3,348",140,"3,137",NaN,"1,883",353,"2,305",27,5,40,"2,210",23,"20,144",76,60,745,483,263,"4,410",29,176,"1,766",124,131,808,"7,872",522,"1,492","1,187",NaN,"304,990","68,549",26,301,27,423,516,43,35,"9,262",X,204,"26,159",481,35,"12,293","13,347",14,36,59,310,488,322,X,"4,138",26,4,"169,939",588,"1,246","28,231","14,386","4,645","115,585","4,094","1,164","11,474",92,"11,350",32,"55,028","3,129","1,376","6,331","1,310","14,720","7,066",4,"6,809",207,"9,409",180,469,"4,018",NaN,"250,448","69,809","40,568","3,574","5,971",244,153,NaN,"6,917","12,382","79,874","1,252","4,616",15,"50,228","7,230","1,740",356,15,"2,095","9,415","1,246",137,84,"1,445","78,422",20,"1,193","2,263","1,805",896,"1,200","45,250",582,"3,126","22,087","22,343","1,287",746,59,123,735,"2,450","2,741","2,927",707,"2,956",76,72,735,"1,938","3,029",380,"1,382",NaN,"93,895","50,144","1,858","3,825",267,543,"1,021","10,510","1,151","3,655","13,935",674,"11,633","1,072","15,495",405,235,241,97,983,458,"2,266",320,963,"9,527","18,438","3,362","6,155","1,153",651,"1,644",-,653,37,NaN,808,NaN,"2,994",64,917,"9,818",295,455,"2,375","5,064",16,D,981,632,NaN,"4,335","2,713","1,836",877,"1,134","1,095",D,34,5,16,4,4,8,472,16,14,26,178,238,NaN,35,"1,201",2003

In [151]:
# sns.barplot(x="Year", y="All Countries (total)", data=df)
# sns.set(rc={'figure.figsize':(20,14)})